*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: mayo-sans,sans-serif;
}
:root
{
    --blue:#0057b8;
    --black:#000;
    --grey:#aaa;
    --white:#fff;
    --textBlack:#111111;
}
.globalNotice
{
    background:var(--blue);
    border-bottom:1px solid #fff;
    color:#fff;
    position:relative;
    padding: 6px 40px;
    font-size: 16px;
}
.banner
{
    display: flex;
    justify-content: flex-start;
    height: 10vh;
    align-items: center;
    gap: 20px;
    color: #fff;

}
.iconBox
{
    font-size: 38px;
}
.banner h3
{
    margin-bottom: 1vh;
    font-size: 16px;
}
.navigation
{
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.patient,
.lang
{
    display: flex;
}
.right
{
    display: flex;
    gap: 40px;
    padding: 40px 50px;
    position: absolute;
    right: 0;
}
#search
{
    padding: 18px;
    border: none;
    border: 0.1px solid var(--grey);
    border-radius: 30px;
    width: 22vw;
    padding-right: 10px;
    font-size: 0.96em;
}
.right .search ion-icon
{
    transform: translateX(-40px);
    color: var(--black);
    font-size: 1em;
}
.patient
{
  margin-top: 18px;
  gap: 10px;
}
.patient p
{
    font-size: 13.6px;
    color: var(--textBlack);
}
.lang
{
    margin-top: 18px;
    font-size: 14px;
}
.lang ion-icon
{
    line-height: 1vh;
}
.navBar ul
{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: space-evenly;
}
.navBar ul li
{
    margin-top: 12px;
}
.navBar ul li a
{
    text-decoration: none;
    color: var(--black);
}
.navBar ul li  ion-icon
{
    margin-top: 9px;
    font-size: 14px;
    transition: 0.5s;
}
.navBar ul li:hover  ion-icon
{
    transform: rotate(180deg);
    cursor: pointer;
    font-size: 16px;
}
/* main */
